Package: ubi-virtual-assistant
source: ubi
Version:0.1
Architecture: all
Depends: python-webkit, python-notify, finger, python-pygame
installed-Size: 138
Maintainer:Edilson Alzemand
Description: ubi is a friendly interface for your command line.
